header {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin: 50px 0 50px 0;
}

#reset {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#grid-container {
    margin: auto;
    display: grid;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #000;
}

.grid-item {
    height: auto;
    width: auto;
}