header {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    margin: 50px 0 50px 0;
}

#button-group-1 {
    text-align: center;
    margin-bottom: 25px;
}

#button-group-1 button {
    margin-left: 20px;
    border: 1px solid #7f848c;
    background-color: #fff;
    padding: 25px;
    font-size: 15px;
    -webkit-transition: border 1s;
    transition: border 1s;
    box-shadow: none;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

#button-group-1 button:hover {
    border: 1px solid #000;
    box-shadow: 2px 2px 5px #000;
}

#button-group-2 {
    text-align: center;
    margin-top: 15px;
}

#button-group-2 button {
    margin-left: 20px;
    border: 1px solid #7f848c;
    background-color: #fff;
    padding: 25px;
    font-size: 15px;
    -webkit-transition: border 1s;
    transition: border 1s;
    box-shadow: none;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

#button-group-2 button:hover {
    border: 1px solid #000;
    box-shadow: 2px 2px 5px #000;
}

#grid-container {
    margin: auto;
    display: grid;
    height: 600px;
    width: 600px;
    background-color: #fff;
    border: 1px solid #000;
}

.grid-item {
    height: auto;
    width: auto;
}

#status {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

#rainbow-status {
    margin-left: 10px;
}